{% extends 'adminlte/base.html' %}

{% block content %}
<div class="box box-solid">
  <div class="box-header with-border">
    <i class="fa fa-text-width"></i>
    <h3 class="box-title">{{ stadytopic.title }}</h3>
  </div>
  {% if stadytopic.picture %}
  <img class="img-center" src="{{ stadytopic.picture.url }}">
  <!-- /.box-header -->
  {% endif %}
  <div class="box-body">
    {{ stadytopic.text }}
  </div>
  <!-- /.box-body -->
  <div class="box-footer">
    Дата создания:  {{ stadytopic.release_date }}
  </div>
</div>
<!-- /.box -->
{% endblock %}
