{% extends 'adminlte/base.html' %}



{% block content %}
<div class="margin">
  <div class="btn-group">
    {% for numb, values in questions.items %}
      {% if values.check == 1 %}
          <a href="{% url 'training' numb  %}" type="button" class="btn btn-success btn-sm">
        {% elif values.check == 0 %}
          <a href="{% url 'training' numb  %}" type="button" class="btn btn-danger btn-sm">
        {% elif numb == numquest %}
          <a href="{% url 'training' numb  %}" type="button" class="btn btn-warning btn-sm">
        {% else %}
          <a href="{% url 'training' numb  %}" type="button" class="btn btn-default btn-sm">
        {% endif%}
          Вопрос № {{ numb }}</a>
        {% endfor %}
      </div>
  </div>
  <div class="box">
    <div class="box-header with-border">
      {% for key, value in questions.items %}
        {% if key == numquest %}
          <h3 class="box-title">{{ value.textques }}</h3>
        {% endif%}
      {% endfor %}
    </div>
      <form class="" action="{% url 'training' numquest  %}" method="post">
        {% csrf_token %}
          <div class="box-body">
            <div class="form-group">
              {% if answers %}
                {% for answer in answers %}
                  <div class="checkbox">
                    <label>
                      <input type="radio" name = "{{ numquest }}" value="{{ answer.id }}">
                      {{ answer.text }}
                    </label>
                  </div>
                {% endfor %}
              {% endif%}
            </div>
          </div>
              <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-success"">Ответить</button>
          </div>
      </form>
      <!-- /.box-footer-->
</div>
{% endblock %}
