{% extends 'adminlte/base.html' %}



{% block content %}
<div class="margin">
  <div class="btn-group">
    {% for numb, values in questions.items %}
      {% if numb == numquest %}
          <a href="{% url 'training' numb  %}" type="button" class="btn btn-warning btn-sm">
        {% elif values.check == 0 %}
          <a href="{% url 'training' numb  %}" type="button" class="btn btn-danger btn-sm">
        {% elif values.check == 1 %}
          <a href="{% url 'training' numb  %}" type="button" class="btn btn-success btn-sm">
        {% else %}
          <a href="{% url 'training' numb  %}" type="button" class="btn btn-default btn-sm">
        {% endif%}
          Вопрос № {{ numb }}</a>
        {% endfor %}
      </div>
  </div>
  <div class="box">
    <div class="box-header with-border">
      {% for key, value in questions.items %}
        {% if key == numquest %}
          <h3 class="box-title">{{ value.textques }}</h3>
        {% endif%}
      {% endfor %}
    </div>
      <form class="" action="{% url 'training' numquest  %}" method="post">
        {% csrf_token %}
          <div class="box-body">
            <div class="form-group">
              {% for radio in form.user_answer %}
              <div class="myradio">
                {{ radio }}
              </div>
              {% endfor %}


            </div>
          </div>
              <!-- /.box-body -->
          <div class="box-footer">
            <input type="submit" class="btn btn-success"">
          </div>
      </form>
        <!-- /.box-footer-->
</div>
{% endblock %}
